# Environment variables
.env

# Google API credentials
*.key.json
*_key.json
vision_key_new.json
sheets_key.json
drive_key.json
email_key.json
excel-extractor-*.json
token.pickle
credentials/token.json
email_sorter_0auth.json



# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
RELIANT_SCRIPTS/credentials/token.json
email_sorter_0auth.json
RELIANT_SCRIPTS/credentials/token.json
email_sorter_0auth.json
credentials/token.json
email_sorter_0auth.json
